form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 80px;
        font-family: Neon;
        user-select: none;
    }

    .search {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;

        input,
        select {
            font-family: 'Oswald', sans-serif;
            letter-spacing: 2px;
        }

        input {
            width: 79%;
        }

        select {
            width: 20%;
            cursor: pointer !important;
        }
    }

    button {
        color: #000;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;
        padding: 10px 40px;
        font-size: 26px;
        transition: 500ms;
        cursor: pointer;
    }

    @media (max-width: 992px) {
        text-align: center;

        .search {
            flex-direction: column;
            margin: 0;

            input,
            select {
                margin-bottom: 10px;
                width: 100%;
                font-size: 20px;
            }
        }

        button {
            width: 100%;
            font-size: 20px;
        }
    }
}